# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test output
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints